.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {
        @include absCenter;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
        position: relative;
    }


    &__left {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 2rem 3rem;
    }

    &__container-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    &__right {
        width: 100%;
        display: table;
        padding: 2rem 3rem;
    }

    &__container-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__img {
        height: 20rem;
        margin: .5rem;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 2rem;
        column-rule: 1px solid $color-grey-dark-2;
        hyphens: auto;
    }

    // Open states  
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-grey-dark;
            text-decoration: none;
            font-size: 3rem;
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            display: inline-block;
            transition: all .2s;
        }

        &:hover {
            color: $color-primary;
        }
    }

    @include respond(tab-land) {
        &__text {
            display: inline-block;
            padding: 0;
            margin: 1rem;
            line-height: 1.5;
        }

        &__img {
            height: 15rem;

        }

        &__close {

            &:link,
            &:visited {
                color: $color-white;
                top: 1rem;
                right: 1.5rem;
            }
        }

    }

    @include respond(phone) {
        

        &__text {
            display: inline-block;
            padding: 0;
            margin: 1rem;
            line-height: 1.2;
        }

        &__img {
            height: 15rem;

        }

        &__close {

            &:link,
            &:visited {
                color: $color-white;
                top: 1rem;
                right: 1.5rem;
            }
        }

    }
}